// Third party imports.
import React from 'react';
import PropTypes from 'prop-types';
// Component imports
// Util imports
// Image imports
// Style imports
import styles from './{{dashCase name}}.module.scss';

const {{pascalCase name}} = (props) => {
  return <div className={ styles.{{camelCase name}} }>{{pascalCase name}}</div>;
};

{{pascalCase name}}.propTypes = {};

export default {{pascalCase name}};